In [1]:
import pandas as pd 
from transformers import pipeline

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [41]:
#adding the csv file...

In [2]:
df = pd.read_csv("C:\\Users\\User\\Desktop\\Git\\PyData_Assessment\\commentary_2023.csv")

In [ ]:
#here is the csv file content...

In [25]:
df

     Unnamed: 0                                         commentary
0            19  Travis Head | Player of the Match - 137(120): ...
1            20  Adam Zampa: Interesting to see the strategy to...
2            21  Mitchell Starc: He (Cummins) was phenomenal, h...
3            22  Steve Smith: Incredible feeling! Atmosphere wa...
4            23  Mitch Marsh: Pure elation right now. Been the ...
..          ...                                                ...
370         442                           Round the wicket to Head
371         443  Bumrah to Warner, 3 runs, nice outswing again ...
372         444  Bumrah round the wicket to Head and two slips ...
373         445  Bumrah to Warner, FOUR, edgedddd and no-one go...
374         446  Warner and Head are at the crease. Warner is o...

[375 rows x 2 columns]

In [ ]:
#the unnamed column is redundant. So let's remove it...

In [35]:
df= df.drop(df.columns[0], axis =1)

In [ ]:
#checking the NULL values...

In [36]:
df.isnull().sum()

commentary    0
dtype: int64

In [ ]:
#checking the duplicate values...

In [38]:
duplicates = df.duplicated().sum()
print(duplicates)

0

In [ ]:
#removing the eextra white space...

In [39]:
df["commentary"] = df["commentary"].str.strip()

In [ ]:
#dataset after the cleaning process

In [40]:
df

                                            commentary
0    Travis Head | Player of the Match - 137(120): ...
1    Adam Zampa: Interesting to see the strategy to...
2    Mitchell Starc: He (Cummins) was phenomenal, h...
3    Steve Smith: Incredible feeling! Atmosphere wa...
4    Mitch Marsh: Pure elation right now. Been the ...
..                                                 ...
370                           Round the wicket to Head
371  Bumrah to Warner, 3 runs, nice outswing again ...
372  Bumrah round the wicket to Head and two slips ...
373  Bumrah to Warner, FOUR, edgedddd and no-one go...
374  Warner and Head are at the crease. Warner is o...

[375 rows x 1 columns]